services:
    db:
        image: postgres:15
        restart: always
        environment:
            POSTGRES_DB: database
            POSTGRES_PASSWORD: password
            POSTGRES_USER: user
        ports:
            - "5433:5432"
        volumes:
            - db_data:/var/lib/postgresql/data

volumes:
    db_data:
